html, body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.subcontainer {
  display: flex;
  flex-flow: column wrap;
  height: 97%;
}

  /* Mobile */
  @media (max-width: 767px) {
    /* .component {
      width: 100%;
      height: 50%;
    } */
  }

  /* Desktop */
  @media (min-width: 768px) {

    .component {
      flex: 0 0;
      width: 50%;
      color: black;
    }

    .component:nth-child(1) {
      flex: 0 0 65%;
      width: 30%;
      background: rgb(74,74,74);
      background: linear-gradient(135deg, rgb(74,74,74) 0%, rgb(74,74,74) 30%, rgb(36,36,36) 30%, rgb(36,36,36) 70%, rgb(20,20,20) 70%, rgb(20,20,20) 100%);
    }

    .component:nth-child(2) {
      flex: 0 0 35%;
      width: 30%;
      background: rgb(74,74,74);
      background: linear-gradient(135deg, rgb(74,74,74) 0%, rgb(74,74,74) 30%, rgb(36,36,36) 30%, rgb(36,36,36) 70%, rgb(20,20,20) 70%, rgb(20,20,20) 100%);
    }
    
    .component:nth-child(3) {
      flex: 0 0 50%;
      width: 70%;
      overflow: auto;
      /* Fusion World color layout */
      background: rgb(1,0,14);
      background: -moz-linear-gradient(90deg, rgba(1,0,14,1) 0%, rgba(40,191,238,1) 35%, rgba(255,0,0,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(1,0,14,1) 0%, rgba(40,191,238,1) 35%, rgba(255,0,0,1) 100%);
      background: linear-gradient(90deg, rgba(1,0,14,1) 0%, rgba(40,191,238,1) 35%, rgba(255,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01000e",endColorstr="#ff0000",GradientType=1);
    }

    .component:nth-child(4) {
      flex: 0 0 50%;
      width: 70%;
      overflow: auto;
      background: rgb(74,74,74);
      background: linear-gradient(135deg, rgb(74,74,74) 0%, rgb(74,74,74) 30%, rgb(36,36,36) 30%, rgb(36,36,36) 70%, rgb(20,20,20) 70%, rgb(20,20,20) 100%);
    }
}